// Fonts

// Z Index
$zLayout: bottom, middle, top;

// Sizes

// Colors
$colorWhite: #fff;
$colorBlack: #000;
$colorPink: #eb378a;
$colorGrey: #444445;
$colorGreyLight: #f1f1f1;

// MediaQueries
$mediaQueries: ();

// Paths
$pathComponentImage: 'asset/image';
